# Series

In [13]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10,'b':20,'c':30}

In [4]:
arr

array([10, 20, 30])

In [5]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data = my_data, index = labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
d

{'a': 10, 'b': 20, 'c': 30}

In [14]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [24]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [25]:
ser2 = pd.Series([1,2,3,4],['USA','Germany','Italy','Japan'])
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

In [18]:
ser1['USA']

1

In [19]:
ser3 = pd.Series(data = labels)

In [21]:
ser3[0]

'a'

In [26]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [28]:
ser1+ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [27]:
ser2

USA        1
Germany    2
Italy      3
Japan      4
dtype: int64

# DataFrames1

In [30]:
from numpy.random import randn

In [31]:
np.random.seed(101)

In [32]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [33]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df['W']

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [35]:
type(df['W'])

pandas.core.series.Series

In [36]:
type(df)

pandas.core.frame.DataFrame

In [39]:
df[['W','X']]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

In [40]:
df['new']

KeyError: 'new'

In [41]:
df['new'] = df['W'] + df['Y']

In [42]:
df['new']

A    3.614819
B   -0.196959
C   -1.489355
D   -0.744542
E    2.796762
Name: new, dtype: float64

In [43]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.614819
B  0.651118 -0.319318 -0.848077  0.605965 -0.196959
C -2.018168  0.740122  0.528813 -0.589001 -1.489355
D  0.188695 -0.758872 -0.933237  0.955057 -0.744542
E  0.190794  1.978757  2.605967  0.683509  2.796762

In [44]:
#axis(0,1) -> axis(row,column)